<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Existing servlet definitions -->
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <!-- New servlet definitions -->
    <servlet>
        <servlet-name>RegistrationPetOwner</servlet-name>
        <servlet-class>servlets.RegistrationPetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPetKeeper</servlet-name>
        <servlet-class>servlets.RegistrationPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <servlet-class>servlets.UpdatePetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCheck</servlet-name>
        <servlet-class>servlets.SessionCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminKeepers</servlet-name>
        <servlet-class>servlets.AdminKeepers</servlet-class>
    </servlet>
    <!-- Existing servlet mappings -->
    <servlet>
        <servlet-name>AdminOwners</servlet-name>
        <servlet-class>servlets.AdminOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>servlets.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChart</servlet-name>
        <servlet-class>servlets.PieChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Earnings</servlet-name>
        <servlet-class>servlets.Earnings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounterPie</servlet-name>
        <servlet-class>servlets.CounterPie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReservationStatus</servlet-name>
        <servlet-class>servlets.UpdateReservationStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchReservation</servlet-name>
        <servlet-class>servlets.FetchReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>servlets.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMessages</servlet-name>
        <servlet-class>servlets.FetchMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatGPT</servlet-name>
        <servlet-class>servlets.ChatGPT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetKeeperStatistics</servlet-name>
        <servlet-class>servlets.PetKeeperStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetKeeperProfile</servlet-name>
        <servlet-class>servlets.PetKeeperProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPetKeepers</servlet-name>
        <servlet-class>servlets.ShowPetKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetSubmission</servlet-name>
        <servlet-class>servlets.PetSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetRetrieval</servlet-name>
        <servlet-class>servlets.PetRetrieval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetWeight</servlet-name>
        <servlet-class>servlets.UpdatePetWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePet</servlet-name>
        <servlet-class>servlets.DeletePet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPetKeeper</servlet-name>
        <servlet-class>servlets.FindPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPetOwner</servlet-name>
        <servlet-class>servlets.BookingPetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBooking</servlet-name>
        <servlet-class>servlets.CreateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBooking</servlet-name>
        <servlet-class>servlets.UpdateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>servlets.Review</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <!-- New servlet mappings -->
    <servlet-mapping>
        <servlet-name>RegistrationPetOwner</servlet-name>
        <url-pattern>/RegistrationPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPetKeeper</servlet-name>
        <url-pattern>/RegistrationPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetKeeper</servlet-name>
        <url-pattern>/UpdatePetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCheck</servlet-name>
        <url-pattern>/SessionCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminKeepers</servlet-name>
        <url-pattern>/AdminKeepers</url-pattern>
    </servlet-mapping>
    <!-- Session configuration -->
    <servlet-mapping>
        <servlet-name>AdminOwners</servlet-name>
        <url-pattern>/AdminOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChart</servlet-name>
        <url-pattern>/PieChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Earnings</servlet-name>
        <url-pattern>/Earnings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounterPie</servlet-name>
        <url-pattern>/CounterPie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReservationStatus</servlet-name>
        <url-pattern>/UpdateReservationStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchReservation</servlet-name>
        <url-pattern>/FetchReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMessages</servlet-name>
        <url-pattern>/FetchMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatGPT</servlet-name>
        <url-pattern>/ChatGPT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetKeeperStatistics</servlet-name>
        <url-pattern>/PetKeeperStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetKeeperProfile</servlet-name>
        <url-pattern>/PetKeeperProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPetKeepers</servlet-name>
        <url-pattern>/ShowPetKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetSubmission</servlet-name>
        <url-pattern>/PetSubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetRetrieval</servlet-name>
        <url-pattern>/PetRetrieval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetWeight</servlet-name>
        <url-pattern>/UpdatePetWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePet</servlet-name>
        <url-pattern>/DeletePet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPetKeeper</servlet-name>
        <url-pattern>/FindPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPetOwner</servlet-name>
        <url-pattern>/BookingPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBooking</servlet-name>
        <url-pattern>/CreateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking</servlet-name>
        <url-pattern>/UpdateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
